[Unit]
Description=uWSGI Flask Moe
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini /home/jiho/flask_moe/uwsgi.ini
#ExecStop=killall uwsgi
#RuntimeDirectory=uwsgi
#Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
#NotifyAccess=all

[Install]
WantedBy=multi-user.target

