certifi==2018.1.18
Flask==0.10.1
FormEncode==1.3.0
future==0.16.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
paginate==0.5.3
paginate-sqlalchemy==0.3.0
pg8000==1.10.5
python-telegram-bot==10.0.1
PyYAML==3.12
six==1.10.0
SQLAlchemy==1.0.12
sqlalchemy-paginate==0.0.2
uWSGI==2.0.17
Werkzeug==0.11.8
