{% extends 'base.html' %}

{% block css_block %}
{% endblock %}

{% block content_block %}
    <h2>윈도우 기반의 파이썬 개발환경</h2>
    <p>웹 프로그램은 다양한 플랫폼에서 동작시킬 수 있습니다. 책에서는 리눅스/OSX 환경에서의 설정만 다뤘지만 여기에서는 윈도우 환경에서의 웹 서버 프로그램을
    설치하고 파이썬 웹 프로그램을 윈도우에서 구동시키는 것을 목표로 합니다.</p>

    <h3>목차</h3>
    <ol>
        <li>아파치 웹 서버 설치</li>
        <li>아파치 웹 서버와 mod_wsgi</li>
        <li>NGINX 웹 서버 설치</li>
        <li>NGINX 웹 서버와 uwsgi</li>
    </ol>

    <a name="apache_install"><h3>아파치 웹 서버 설치</h3></a>
    <a name="apache_mod_wsgi"><h3>아파치 웹 서버와 mod_wsgi</h3></a>
    <a name="nginx_install"><h3>NGINX 웹 서버 설치</h3></a>
    <a name="nginx_uwsgi"><h3>NGINX 웹 서버와 uwsgi</h3></a>
{% endblock %}
